<p>이   름 : <%=@person%></p>
<p>주문물품 : <%=@orders%></p>
<p>세   트 : <%=@set%></p>
<p>음   료 : <%=@drink%></p>
<p>사이즈업 : <%=@size_up%></p>
<p>기   타 : <%=@etc%></p>
<%=params%><br><br>

<a href="/home/index/">재주문하기</a> <br>
<a href="/home/list/">주문리스트</a> <br>